
.slideshow {
  width:100%;
  height: 0;
  padding-bottom: 40%;
  overflow:hidden;
  position: relative;
  @media screen and (max-width: $break-small) {
    padding-bottom: 100%;
  }
  &_slider {
    display: flex;
    position:absolute;
    left:0;
    width: 100%;
    height: 100%;
    img {
      flex: 0 0 66%;
      width:66%;
      height: 100%;
      opacity: .2;
      transition:all ease .4s;
      &.active {
        opacity: 1;
      }
    }
  }
  &_bubbles {
      display: flex;
      justify-content: center;
      position: absolute;
      left:0;
      right:0;
      bottom:0;
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        position: relative;
        bottom: 20px;
        margin: 15px;
        &.active, &:hover {
          background-color: #717171;
        }
      }
  }
  &_buttons {
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    position: absolute;
    bottom: 0;
    &.prev {
      background-color: $grey;
    }
    &.next {
      background-color: $grey;
      right:0;
      bottom:0;
    }
  }
}