  <!-- Slideshow container -->
<div class="slideshow">
  <div class="slideshow_slider">
    <img src="https://source.unsplash.com/1600x900/weekly" alt="img1">
    <img src="https://source.unsplash.com/random/1200x600" alt="img2">
    <img src="https://source.unsplash.com/1600x900/daily" alt="img3">
    <img src="https://source.unsplash.com/random/1200x600" alt="img4">
  </div>
  <div class="slideshow_bubbles"></div>
  <button class="slideshow_buttons prev">Prev</button>
  <button class="slideshow_buttons next">Next</button>
</div>



<br><br><br>


  <!-- Slideshow container -->
<div class="slideshow">
  <div class="slideshow_slider">
    <img src="https://picsum.photos/200/1200" alt="img1">
    <img src="https://picsum.photos/500/400" alt="img2">
    <img src="https://picsum.photos/800/500" alt="img3">
    <img src="https://picsum.photos/900/600" alt="img4">
    <img src="https://picsum.photos/800/500" alt="img3">
  </div>
  <div class="slideshow_bubbles"></div>
  <button class="slideshow_buttons prev">Prev</button>
  <button class="slideshow_buttons next">Next</button>
</div>



<br><br><br>
<h1>DRAGGABLE CAROUSEL</h1>

  <!-- Slideshow container -->
<div class="slideshow">
  <div class="slideshow_slider">
    <img src="https://picsum.photos/200/1200" alt="img1">
    <img src="https://picsum.photos/500/400" alt="img2">
    <img src="https://picsum.photos/800/500" alt="img3">
    <img src="https://picsum.photos/900/600" alt="img4">
    <img src="https://picsum.photos/800/500" alt="img3">
  </div>
  <div class="slideshow_bubbles"></div>
  <button class="slideshow_buttons prev">Prev</button>
  <button class="slideshow_buttons next">Next</button>
</div>